/* STRUCTURE */

/* removes top and bottom margins */
* {
    margin-top: 0;
    margin-bottom: 0;
    }

/* important to footer */
html, body {
             height: 100%;
             }

.web {
       margin-left: auto;
       margin-right: auto;
       width: 800px;

       /* adjust the footer: */
       min-height: 100%;
       height: auto !important;
       height: 100%;
       /* the bottom margin is the negative value of the footer's height */
       margin: 0 auto -20px;
       }

.rodape, .push {
    /* to the footer */
    /* .push must be the same height as .footer */
    height: 20px;
}
.push {
        padding-bottom: 20px;
 }


/* COLORS, ETC */

body {
       background-color: #f0f0f0;
       color: #444;
       font-family: Georgia, Verdana, Arial, sans-serif;
       }

.web {
      background-color: #fff;
 }

.top {
    background: url('/media/logo.png') no-repeat;
    height: 60px;
}

a {
    color: #263f13;
    }

a:hover {
          color: #664d6b;
          }

.conteudo {
            margin-left: 10px;
            margin-right: 10px;
 }

.conteudo p {
              font-size: 13px;
              padding-top: 5px;
              line-height: 22px;
              text-align: justify;
              }

.conteudo ul {
               font-size: 12px;
               padding-top: 5px;
               line-height: 22px;
               text-align: justify;
              }

.conteudo li {
               font-size: 12px;
               padding-top: 5px;
               line-height: 22px;
               text-align: justify;
              }

table {
        font-size: 13px;
        border-collapse: collapse;
        border:2px solid #444;
        }

table td {
           border:1px solid #444;
           padding:5px;
           }

ul.conteudo {
              font-size: 13px;
              line-height: 22px;
}

a img {
        border: 0px;
}

.figure {
               margin-left: 50px;
               margin-bottom: 50px;
               float: right;
 }
