{% extends "base.html" %}

{% block body %}
<h2>MusiContour</h2>

<table>
  <tr>
    <td>Original cseg</td>
    <td>{{ cseg }}</td>
  </tr>
  <tr>
    <td>Retrograde</td>
    <td>{{ retrograde }}</td>
  </tr>
  <tr>
    <td>Inversion</td>
    <td>{{ inversion }}</td>
  </tr>
  <tr>
    <td>Normal form</td>
    <td>{{ normal }}</td>
  </tr>
  <tr>
    <td>Prime form ML</td>
    <td>{{ prime_ml }}</td>
  </tr>
  <tr>
    <td>Prime form S</td>
    <td>{{ prime_s }}</td>
  </tr>
  <tr>
    <td>Internal diagonal 1</td>
    <td>{{ int_1 }}</td>
  </tr>
</table>

<p>
  <img src='/media/cseg_output.png'>
</p>

<p><a href="/">Back</a></p>
{% endblock %}
